
// Colors
$primary: #5C62C5;
$dark-grey: #363636;
$light-grey: #d8d8d8;

$white: #fff;
$google-blue: #4285f4;
$grey-light: #757575;
$grey-dark: #888;
$mint: #45a5ab;
$olive: #1e413d;
$sandy: #f7f5f2;

$danger: #dc3545;

$content-font:'Open Sans', sans-serif;









